<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.repkap11.rep2phone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.repkap11.rep2phone.Rep2PhoneApplication"
        android:allowBackup="true"
        android:icon="@drawable/rep2phone_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.repkap11.rep2phone.activities.UsersFractivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.repkap11.rep2phone.activities.LunchLocationsFractivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.repkap11.rep2phone.activities.LunchLocationsTodayFractivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.repkap11.rep2phone.activities.AddLunchLocationFractivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.repkap11.rep2phone.activities.AddLunchGroupFractivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.repkap11.rep2phone.activities.EditUserFractivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.repkap11.rep2phone.activities.AboutUserFractivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.repkap11.rep2phone.activities.LunchGroupsFractivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.repkap11.rep2phone.activities.SignInFractivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.repkap11.rep2phone.activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.repkap11.rep2phone.activities.TabFractivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.repkap11.rep2phone.Launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.repkap11.rep2phone.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name="com.repkap11.rep2phone.services.ServiceInstanceIdChange">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.repkap11.rep2phone.services.ServiceRep2PhoneNotifications">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>